.container {
    text-align: center;
    padding-top: 100px;
}

#board {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 3px solid black;
}

.square {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid rgb(7, 1, 1);
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.square:hover {
    background-color: #e4e3d29a;
}

.square.x:before {
    color: rgba(22, 105, 1, 0.993);
    content: "X";
}

.square.o:before {
    color: rgb(255, 0, 0);
    content: "O";
}
.styles .container{
    background-image: linear-gradient(rgb(2, 252, 239), white);
}

.h1{
    color: aliceblue;
   text-shadow: rgb(253, 1, 1) 1px 3px 4px ;
   cursor: pointer;

}

#message{
    color:rgb(0, 0, 0);
}
